*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
main{
    width: 100%;
    padding:20px;
}
.sidebar{
    background: #6f7281;
    color: white;
    width: 200px;
    height: 100vh;
    transition: all 0.75s
}
.top_section{
    display: flex;
    align-items: center;
    padding :20px 0px 5px 5px;
}

.bars{
    font-size: 30px;
    padding: 0.25rem;
    cursor: pointer;
}
.link{
    display: flex;
    color: white;
    padding:10px 15px;
    gap:15px;
    transition: all 0.75s;
}
.link:hover{
    background:lightcyan;
    color: black;
    transition: all .75s;
}
.link_text{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(237, 120, 120);
    margin-right: 4rem;
    border-radius: 20px;
    text-align: center;
    padding: .2rem;
}
.active{
    background: #272121;;
    color:black;
}
.icon{
    display: block;
    font-size: 25px;
    color: #f18585;
    cursor: pointer;
    padding-left: .75rem;

}
.icon:hover{
    color: #fc6e6e;
}
.link_text {
    font-size: 20px;
    padding-left: .75rem;
    padding-right: .75rem;
}
.menu_options{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px 0px;
    gap: 10px;
}

