/* hero section */
.hero-section {
  position: absolute;
  width: 100vw;
  height: 287px;
  left: 75px;
  top: 150px;
}
#info-section {
  margin-top: 70px;
}
.hometitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;

  color: #303443;
}
.homedesc {
  position: absolute;
  width: 452px;
  height: 130px;
  top: 150px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
  
  color: #303443;
  
}


.centre_body {
  width: 100vw;
  height: 500px;
}

.centre_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.plan,
.join {
  width: 211px;
  height: 58px;
  left: 75px;
  margin-top: 45px;
  font-size: 18px;
  background: #f18585;
  border-radius: 20px;
  cursor: pointer;
}

.join {
  margin-left: 20px;
}
.button {
  padding: 1em 2em;
  font-size: 17px;
  background: transparent;
  border: none;
  position: relative;
  color: #f6e9e9;
  margin-top: 80px;
  gap: 5px;
  z-index: 1;
  cursor: pointer;
 }
 
 .button::after,
  .button::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
 }
 
 .button::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #F18585;
  border-radius: 50px;
 }
 
 .button::after {
  transform: translate(0px, 0px);
  width: 10px;
  height: 10px;
  background: #e7a9a5;
  backdrop-filter: blur(5px);
  border-radius: 50px;
  cursor: pointer;
 }
 
 .button:hover::before {
  transform: translate(5%, 20%);
  width: 10px;
  height: 10px;
 }
 
 .button:hover::after {
  border-radius: 50px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
 }
 
 .button:active::after {
  transition: 0s;
  transform: translate(0, 5%);
 }

.side-img {
  position: absolute;
  width: 550px;
  height: 350px;
  left: 600px;
  top: 3px;

  /* background: url(5793476.jpg); */
  background-color: #f6e9e9;
  border-radius: 52px;
}

.hero__img{
   margin-top: -430px;
   height: 200px;
   width: 400px;
   margin-left: 380px;
}
/* Steps */
.steps {
  display: flex;
  gap: 10px;
  position: absolute;
  width: 100vw;
  height: 228px;
  left: 0px;
  top: 700px;
  background: #FF9595;
}

.step1 {
  position: absolute;
  width: 437px;
  height: 263px;
  left: 75px;
  top: 60px;
  
}


.step2 {
  position: absolute;
  width: 229px;
  height: 100px;
  left: 440px;
  top: 60px;
  background: #FF9595;
}

.s-header {
  position: absolute;
  width: 117px;
  height: 39px;
  /* top: 841px; */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  color: #272121;
  background: #FF9595;
}

.step-info {
  position: absolute;
  width: 229px;
  height: 29px;
  /* left: 568px; */
  /* top: 908px; */
  margin-top: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  background: #FF9595;
  color: #FAF3EB;
}

.step3 {
  position: absolute;
  width: 229px;
  height: 96px;
  left: 800px;
  top: 60px;
  background: #FF9595;
}

.navigate {
  position: absolute;
  width: 53px;
  height: 53px;
  left: 1370px;
  top: 884px;
  position: absolute;
  width: 53px;
  height: 53px;
  top: 937px;

  transform: rotate(180deg);
}

.c1,
.c2 {
  position: absolute;
  width: 53px;
  height: 53px;
  margin-left: 200px;
  top: 850px;
  /* top: 884px; */
  border-radius: 50%;
  background: #FAF3EB;
}
.c2 {
  margin-left: 270px;
}

/* features */
.features-header {
  position: absolute;
  width: 826px;
  height: 154px;
  top: 1000px;
  left: 60px;
  align-self: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;

  color: #303443;
}

#ease {
  color: #f18585;
}

.features-box {
  position: absolute;
  width: 1260px;
  height: 600px;
  left: 0px;
  top: 1358.22px;
  border-left: 60px;
  background: #f6e9e9;
}

.features__svg{
    margin-top: 550px;
}

footer {
  position: absolute;
  width: 100vw;
  height: 100px;
  left: 6px;
  top: 1800px;
  background: #f18585;
}


