*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #272121;
}
body{
    width: 100vw;
    height: 100vh;
}


/* hero section */
.hero-section{
    position: absolute;
    width: 454px;
    height: 287px;
    left: 75px;
    top: 150px;
}
#info-section{
    margin-top: 70px;
}
.hometitle{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 77px;

color: #F6E9E9;
}
.home_desc{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 33px;
margin-top: 250px;
color: #FFFFFF;
}
.centre_body{
    width : 500px;
    height: 500px;
}

.centre_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.plan ,.join{
width: 211px;
height: 58px;
left: 75px;
margin-top: 45px;
font-size: 18px;
background: #F18585;
border-radius: 20px;
}

.join {
  margin-left: 20px;
}

.side-img{
    position: absolute;
width: 550px;
height: 350px;
left: 600px;
top: 3px;

/* background: url(5793476.jpg); */
background-color: #F6E9E9;
border-radius: 52px;
}


/* Steps */
.steps{
display: flex;
gap: 10px;
position: absolute;
width: 1260px;
height: 228px;
left: 0px;
top: 700px;
background: #F6E9E9;
}

.step1{
    position: absolute;
width: 437px;
height: 263px;
left: 75px;
/* top: -37px; */
margin-top: -20px;
background: #F18585;
}

.s-header1{
    position: absolute;
width: 112px;
height: 39px;
left: 50px;
/* top: 827px; */
margin-top: 40px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 39px;
background-color: #F18585;
color: #272121;
}

.step-info1{
    position: absolute;
width: 229px;
height: 29px;
left: 50px;
/* top: 894px; */
margin-top: 100px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
color: #F6E9E9;
background-color: #F18585;
}

.step2{
    position: absolute;
width: 229px;
height: 100px;
left: 568px;
top: 40px;
background-color: #F6E9E9;

}

.s-header{
position: absolute;
width: 117px;
height: 39px;
/* top: 841px; */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */
color: #272121;
background-color: #F6E9E9;
}

.step-info{
    position: absolute;
width: 229px;
height: 29px;
/* left: 568px; */
/* top: 908px; */
margin-top: 50px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */
background-color: #F6E9E9;
color: #CC6331;

}

.step3{
position: absolute;
width: 229px;
height: 96px;
left: 880px;
top: 40px;
background-color: #F6E9E9;
}

.navigate{
position: absolute;
width: 53px;
height: 53px;
left: 1370px;
top: 884px;
position: absolute;
width: 53px;
height: 53px;
top: 937px;

transform: rotate(180deg);
}

.c1,.c2{
    position: absolute;
width: 53px;
height: 53px;
margin-left: 180px;
top: 850px;
/* top: 884px; */
border-radius: 50%;
background: #F18585;
}
.c2{
    margin-left:250px;
}

/* features */
.features-header{
    position: absolute;
width: 826px;
height: 154px;
top: 1166px;
left: 60px;
align-self: center;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 70px;

color: #F6E9E9;
}

#ease{
    color:#F18585;
}

.features-box{
    position: absolute;
width: 1260px;
height: 600px;
left: 0px;
top: 1358.22px;
border-left: 60px;
background: #F6E9E9;
}

.feature1, .feature2, .feature3, .feature4{
    background: #F6E9E9;
}
#f-head{
    position: absolute;
width: 274px;
height: 77px;
left: 512px;
top: 70px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 80px;
background: #F6E9E9;
color: #754E4E;
}

.features-list{
display: flex;
flex-direction: column;
gap: 5ex;;
position: absolute;
width: 461px;
height: 230px;
left: 73px;
top: 200px;
background: #F6E9E9;

}

.f-icon{
    margin-left: 70px;
    height: 40px;
    width: 40px;
    background:#F18585;
    border-radius: 50%;
    /* line-height: 70px; */
}
.f1-box{
    display: flex;
    background: #F6E9E9;
    gap: 5ex;
}

.f2-box{
    display: flex;
    background: #F6E9E9;
    gap: 5ex;
}

.f-name{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22.8571px;
line-height: 30px;
/* identical to box height */
background: #F6E9E9;
color: #000000;
}

.f-info{
    background: #F6E9E9;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 17.1429px;
line-height: 21px;

color: #CC6331;

}

.features-side-img{
    /* position: absolute; */
    width: 550px;
    height: 350px;
    margin-left: 650px;
    margin-top: 160px;
    /* background: url(5793476.jpg); */
    background-color:#E7A9A5;
    border-radius: 52px;
}

footer{
    position: absolute;
    width: 1434px;
    height: 200px;
    left: 6px;
    top: 2000px;
    background: #F18585;
}