*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #272121;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
}

.logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 10px;
    background-color: #E7A9A5;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    position: sticky;
}
.nav-container ul li{
    list-style-type: none;
    display:inline-block;
    padding:10px 20px;
}
a:link{
    text-decoration: none;
}
.nav-container ul li a{
    width: 119px;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: #E7A9A5;
}
