
.logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 10px;
    background-color: #E7A9A5;
    cursor: pointer;
}
.logo:hover{
    background-color: #F2C9C7;
    
}
.nav-container{
    display: flex;
    height: 13vh;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    background-color: #272121;

}
.nav-container ul {
    display: flex;
    width: 40vw;
    justify-content: center;
    list-style-type: none;
    column-gap: 3.5vw;
}
a:link{
    all: unset;
}
.nav-container ul li a{
    width: 119px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: #E7A9A5;
    cursor: pointer;;
}
.nav-container ul li a:hover{
    color: #fc6e6e;
    
}
